<header class="container">
  <h1>Angular testing</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel magni perferendis tempore maxime esse soluta est obcaecati laboriosam, numquam omnis autem temporibus quam rerum quod porro accusantium magnam? Aut, mollitia!
  </p>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/pico-preview">Pico preview</a></li>
      <li><a routerLink="/person">Person</a></li>
      <li><a routerLink="/others">Others</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
